<div class = "side_bar_header">
  <div class = "header_name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class = "header_create_room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class = "room">
  <div class = "room_lists">
    <% current_user.rooms.each do |room| %>
      <div class = "room_name">    
        <%= link_to room.name, "#" %>
     </div>
    <% end %>
  </div>
</div>