<div class = "side_bar_header">
  <div class = "header_name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class = "header_create_room">
    <a href = "#">チャットを作成する</a>
  </div>
</div>
<div class = "room">
  <div class = "room_lists">
    <div class = "room_name">    
      <a href = "#">techroom1</a>
    </div>
    <div class = "room_name">    
      <a href = "#">techroom2</a>
    </div>
  </div>
</div>